* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px
}

.right-section {
    display: flex;
    align-items: center;
}
.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

#hero-section, #quote-section, #process-section {
    padding: 80px 0;
}

#hero-section .text-section{
    width: 40%;
} 

#hero-section .image-section {
    width: 60%;
}

#hero-section .image-section {
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: center;
    height: 68vh;
}

.text-section h1 {
    font-size: 64px;
}

.orange-btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
    display: inline-block;
    color: #fff;
    border: none;
}

.time-section {
    display: flex;
    align-items:center;
    margin-top: 30px;
}

.text-section .image-box {
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section .time-text {
    width: 95%;
}
.time-section img {
    width: 100%
}

.light-grey {
    color: #939191;
}

#quote-section {
    background: #E2E6E9;
}

#quote-section .left-section, #quote-section .right-form-section {
    width: 45%;
}

#quote-section ul {
    list-style: none;
}

#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-section .image-box {
    width: 5%;
    margin-right: 10px;
}

#quote-section .left-section .image-box img {
    width: 100%;
}

#quote-section .left-section .text-box {
    width: 50%;
}

#quote-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#quote-section .right-form-section h3 {
    font-size: 46px;
}

form {
    margin-top: 20px;
}

#quote-section .right-form-section input {
    width: 100%;
    padding: 15px;
    margin-bottom: 3px;
    border: none;
    border-radius: 2px;
}
input:focus {
    border-color: #f66539;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 100, 51, 0.25);
}

.know-more {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* styling the process-section */
.padding-section {
    padding: 8% 0;
}

.lefthand-section {
    width: 45%;
    margin: 0 auto;
}

.lefthand-section h2{
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 48px;
}

.lefthand-section p{
    color: #1E1B1B;
    opacity: 0.6;
}

.righthand-section {
    width: 45%;
    margin: 0 auto;
}

.get-quote h4{
    font-size: 26px;
    padding-bottom: 10px;
}

.get-quote p{
    color: #1E1B1B;
    opacity: 0.6;
}

.img-div {
    width: 50px;
    margin-right: 20px;
}

.process-img {
    width: 50px;
}

.vertical-line {
    border-left: 2px dotted #ff6433;
    height: 50px;
    margin-left: 5%;
    margin-top: -30px;
    margin-bottom: 20px;
}

/* styling "what we offer" */
.background-milk {
    background-color: #F2F2F2;
}

#our-offering h4 {
    text-align: center;
    font-size: 20px;
    padding-top: 10%;
}

#our-offering h2{
    width: 60%;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto 40px auto;
    font-size: 48px;
}

.flex-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.flex-box{
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 180px;
    width: 180px;
    text-align: center;
    background-color: #FFFFFF;
    margin-right: 1%;
    margin-bottom: 1%;
    color: black;
}

.flex-box p{
    padding-top: 5px;
}

.flex-box:hover {
    background-color: #FF6433;
    color: white;
    font-weight: bold;
}

.selected {
    background-color: #FF6433;
    color: white;
    font-weight: bold;
}

.offer-link {
    margin: auto;
    width: 65%;
    justify-content: flex-end;
    padding-top: 10px;
}

.offer-link a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.offer-link a:hover {
    color: #FF6433;
}

/* Styling Get intouch section */
.contact-bg {
    padding-bottom: 8%;
}

.contact-bg{
    background-image: url(https://res.cloudinary.com/deyxpuy8t/image/upload/v1650558261/Image_1_uwcpgq.png);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 40vh;
}

.contact-bg2 {
    background-image: url(https://res.cloudinary.com/deyxpuy8t/image/upload/v1650558369/ovGrEUgrkyE_b7n1pp.png);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 40vh 
}

.contact-flexbox {
    margin-left: 40%;
    background-color: #FF6433;
    height: 40vh;
    width: 30vw;
}

.flexbox-text h4 {
    padding-top: 60px;
    text-align: center;
    margin: auto;
    width: 80%;
    font-size: 24px;
    color: white;
}

.button {
    width: 65%;
    margin: 30px auto 0 auto;
}

.black-btn {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: black;
    border-radius: 8px;
}

.flex-properties {
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.finsweet-ratings{
    margin-top: 5%;
}

.rating-amount {
    font-size: 48px;
    color: #661CE7;
    font-weight: bold;
}

.rating-amount:hover {
    color: #FF6433;
}

.finsweet-ratings p{
    color: #1E1B1B;
    opacity: 0.7;
}


/* styling brands section */
.our-brands h2 {
    font-size: 44px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

#brands{
    padding-bottom: 40px;
}

.brand-div{
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    width: 20%;
}

/* Testimonials section styling */

#sixth-section {
    background-color: #f2f2f2;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 100px;
}
#sixth-section h2 {
    font-weight: 700;
    font-size: 44px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 60px;
}
#sixth-section .comments {
    display: flex;
    justify-content: space-between;
}
.comment {
    background-color: #fff;
    width: 48%;
    padding: 46px;
}
.comment p {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.comment h4 {
    font-size: 20px;
}
.comments .top-section {
    display: flex;
    padding-bottom: 24px;
}
.comments .top-section img {
    margin-right: 16px;
}
.comments .top-section p {
    color: #939191;
    font-size: 14px;
}
#sixth-section .lines {
    display: flex;
    justify-content: center;
}
.swipe-arrows {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}
.swipe-arrows .white {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swipe-arrows .black {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
#seventh-section {
    background-color: #E2E6E9;
    padding: 80px 0px;
}
#seventh-section h2 {
    text-align: center;
    padding-bottom: 60px;
    font-size: 38px;
    font-weight: 700;
}
.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question {
    margin-bottom: 10px;
    background-color: #fff;
    width: 60%;
    padding: 30px;
}
.question .heading {
    display: flex;
    justify-content: space-between;
}
.question .heading h4 {
    font-size: 18px;
    font-weight: 600
}
.question .heading img {
    width: 32px;
    height: 28px;
}
.question p {
    padding-top: 12px;
    padding-right: 60px;
    color: #939191;
    font-size: 14px;
}
#last-section {
    background-color: #1e1b1b;
    opacity: 0.98;
    min-height: 60vh;
    color: #fff;
    padding: 80px 0px;
}
#last-section .last-section {
    display: flex;
    justify-content: space-between;
}
.last-section-left {
    width: 46%;
}
.last-section-right {
    width: 46%;
}
.last-section-left h2 {
    font-weight: 700;
    font-size: 44px;
    padding-bottom: 60px;
}
.social-media-section img {
    margin-right: 20px;
}
.last-section-right .text {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    opacity: 0.6;
}
.last-section-right .number {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 30px;
}
footer {
    background-color: #000;
    color: #fff;
    min-height: 20vh;
    padding: 40px 0px;
}
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 160px;
}
.footer-navigation ul li {
    font-size: 12px;
    margin-right: 40px;
}
.footer-navigation ul a {
    text-decoration: none;
    color: #fff;
}
.copyright {
    color: #939191;
    font-size: 12px;
}

@media(max-width: 426px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-section {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        width: 100%;
        display: none;
    }

    .right-section ul {
        flex-direction: column;
    }

    .right-section ul li {
        padding-bottom: 20px;
        margin-right: 0px;
    }

    .right-section ul li a {
        display: block;
    }

    .navigation {
        border: none;
        width: 100%;
    }

    .road-assistance {
        align-items: flex-start;
    }

    .road-assistance .call-logo {
        margin-left: 0px;
    }

    .hero-section {
        flex-direction: column;
        padding-bottom: 0px;
    }

    .text-section {
        width: 100%;
        padding: 0px;
        order: 2;
    }

    .text-section h1 {
        font-size: 32px;
    }

    .text-section a {
        margin-bottom: 30px;
    }

    .image-section {
        width: 100%;
        order: 1;
        margin-bottom: 50px;
}


/* mobile view */
@media (max-width: 450px) {

    /* Navigation section */
    .main-header{
        align-items: flex-start;
    }
    .flex-direction {
        flex-direction: column;
    }

    .right-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    .right-section .navigation ul {
        flex-direction: column;

    }

    .right-section .navigation {
        border: none;
        width: 100%;
    }

    .right-section ul li {
        padding: 10px 0;
        margin-right: 0;
    }

    .right-section ul li a {
        display: block;
    }

    .road-assistance {
        padding: 10px 0;
    }

/* Hero section */
    #hero-section .image-section{
        width: 100%;
        margin: auto;
    }

    #hero-section .text-section {
        order: 2;
        width: 100%;
        text-align: center;
    }

    #hero-section .image-box{
        order: 1;
    }

    .text-section .time-text{
        width: 80%;
        order: 2;
    }

    .text-section .time-section{
        justify-content: center;
    }

    .text-section h1 {
        font-size: 25px;
    }
    .orange-btn {
        padding: 14px 30px;
        font-size: 16px;
    }
    #quote-section .left-section .text-box {
        width: 100%;
    }
    #quote-section .left-section h2{
        width: 100%;
        font-size: 23px;
        text-align: center;
    }
    #quote-section .left-section .text-box h5 {
        font-size: 20px;
    }
    #quote-section .left-section .text-box h5 p{
        font-size: 14px;
    }
    #quote-section .left-section .image-box img {
        width: 100%;
        margin-top: 5px;
    }
    .right-form-section{
        margin-top: 20px;
        text-align: center;
    }
    #quote-section .right-form-section h3 {
        font-size: 23px;
    }
    
    /* Process section */

    .lefthand-section {
        width: 100%;
        text-align: center;
    }
    .lefthand-section h2 {
        font-size: 23px;
    }
    .lefthand-section p{
        font-size: 14px;
    }
    .righthand-section {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .vertical-line {
        border-left: 4px dotted #FF6433;
        height: 60px;
        margin-left: 6.5%;
        margin-top: -60px;
    }
    .get-quote h4 {
        font-size: 22px;
    }
    .get-quote p{
        font-size: 14px;
    }
    /* Offer section */

    #our-offering h2 {
        width: 100%;
        font-size: 23px;
    }
    .flex-box {
        height: 140px;
        width: 140px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .flex-box p{
        font-size: 14px;
    }
    .offer-link{
        justify-content: center;
    }

    /* Contactus section */
    .contact-bg2{
        display: none;
    }
    .contact-bg{
        width: 100%;
        height: 40vh;
    }
    .contact-flexbox {
        display: flex;
        height: 40vh;
        width: 60%;
        margin: auto;
        text-align: center;
    }
    .flexbox-text{
        max-height: 40vh;
        width: 100%;
    }
    .flexbox-text h4 {
        font-size: 16px;
        width: 95%;
    }
    .black-btn{
        font-size: 12px;
        padding: 4px 8px;
    }
    .button{
        margin: 10px auto 0 auto;
    }
    .flex-properties{
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }
    .professional{
        width: 45%;
    }
    .experience{
        width: 45%;
    }
    .service-closed{
        width: 45%;
    }
    .satisfaction{
        width: 45%;
    }
    .rating-amount{
        font-size: 28px;
    }
    .finsweet-ratings p{
        font-size: 14px;
    }

    /* our brands */
    .our-brands h2{
        font-size: 38px;
    }
    .flex-mobile{
        display: flex;
    }
    .brand-img{
        width: 45%;
    }
    .brand-img img{
        width: 90%;
    }

    .brandImg-1{
        margin: auto;
    }
    #sixth-section {
        padding-bottom: 50px;
    }

    #sixth-section h2 {
        font-size: 24px;
        padding: 0px 0px 30px 0px;
    }

    #sixth-section .comments {
        flex-direction: column;
    }

    .comment {
        width: 100%;
        margin-bottom: 8px;
        padding: 24px;
    }

    .comments .top-section {
        padding-bottom: 12px;
    }

    .comment p {
        font-size: 12px;
        line-height: 18px;
    }

    .lines img, .swipe-arrows .black{
        display: none;
    }

    #seventh-section {
        padding: 50px 0px;
    }

    #seventh-section h2 {
        padding-bottom: 30px;
        font-size: 26px
    }

    .question {
        margin-bottom: 6px;
        width: 100%;
        padding: 15px;
    }

    .question .heading h4 {
        font-size: 12px
    }

    .question p {
        padding-right: 0px;
        font-size: 10px;
        width: 90%;
        padding-top: 5px;
    }

    #last-section {
        padding: 50px 0px;
    }

    #last-section .last-section {
        flex-direction: column;
    }

    .last-section-left {
        width: 100%;
    }

    .last-section-right {
        width: 100%;
    }

    .last-section-left h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .social-media-section {
        padding-bottom: 30px;
    }

    .last-section-right .text {
        font-size: 10px;
    }

    .last-section-right .number {
        font-size: 13px;
        padding-bottom: 15px;
    }

    .main-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-left {
        padding-bottom: 20px;
    }

    .footer-right {
        flex-direction: column;
        width: 100%;
    }

    .footer-navigation {
        width: 100%;
        text-align: center;
    }

    .footer-navigation ul {
        flex-direction: column;
        margin-right: 0px;
    }

    .footer-navigation ul li {
        margin-right: 0px;
        padding-bottom: 20px;
    }

    .footer-navigation ul li a {
        display: block;
    }
}




    @media screen and (min-width:450px) and (max-width: 769px) {

        /* Navigation section */
        .main-header{
            align-items: flex-start;
        }
        .flex-direction {
            flex-direction: column;
        }
    
        .right-section {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            display: none;
        }
    
        .right-section .navigation ul {
            flex-direction: column;
    
        }
    
        .right-section .navigation {
            border: none;
            width: 100%;
        }
    
        .right-section ul li {
            padding: 10px 0;
            margin-right: 0;
        }
    
        .right-section ul li a {
            display: block;
        }
    
        .road-assistance {
            padding: 10px 0;
        }
    
        /* Hero section */
        #hero-section .image-section{
            width: 100%;
            margin: auto;
        }
    
        #hero-section .text-section {
            order: 2;
            width: 100%;
            text-align: center;
        }
    
        #hero-section .image-box{
            order: 1;
        }
        
        .text-section .time-text{
            width: 60%;
            order: 2;
        }
    
        .text-section h1 {
            font-size: 30px;
        }
        .text-section .time-section{
            justify-content: center;
        }
        #quote-section .left-section .text-box {
            width: 100%;
        }
        #quote-section .left-section h2{
            width: 100%;
            font-size: 55px;
            text-align: center;
        }
        #quote-section .left-section .text-box h5 {
            font-size: 28px;
        }
        #quote-section .left-section .text-box p{
            font-size: 18px;
        }
        #quote-section .left-section .image-box img {
            width: 100%;
            margin-top: 5px;
        }
        .right-form-section{
            margin-top: 20px;
            text-align: center;
        }
    
         /* Process section */
    
         .lefthand-section {
            width: 100%;
            text-align: center;
        }
        .lefthand-section p {
            font-size: 18px;
        }
        .lefthand-section h2 {
            font-size: 45px;
        }
        .righthand-section {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 20px;
        }
    
        .get-quote{
            width: 70%;
        }
        .vertical-line {
            border-left: 4px dotted #FF6433;
            height: 60px;
            text-align: center;
        }
    
        /* Offer section */
    
        #our-offering h2 {
            width: 100%;
            font-size: 38px;
        }
        .flex-box {
            height: 200px;
            width: 200px;
            margin-right: 15px;
            margin-bottom: 15px;
        }
        .flex-box img {
            padding-top: 15px;
        }
        .offer-link{
            justify-content: center;
        }
        .offer-link a {
            font-size: 18px;
        }
    
        /* Contactus section */
        .contact-bg2{
            display: none;
        }
        .contact-bg{
            width: 100%;
            height: 30vh;
        }
        .contact-flexbox {
            height: 30vh;
            width: 60%;
            margin: auto;
            text-align: center;
        }
        .flexbox-text h4 {
            font-size: 26px;
        }
        .flex-properties{
            flex-wrap: wrap;
            width: 100%;
            text-align: center;
        }
        .rating-amount{
            font-size: 30px;
        }
        .finsweet-ratings p{
            font-size: 16px;
        }
    
            /* our brands */
            .brand-div{
                width: 100%;
                margin: auto;
            }
            .our-brands h2{
                font-size: 38px;
            }
            .flex-mobile{
                display: flex;
            }
            .brand-img{
                width: 45%;
                margin-right: 5%;
            }
            .brandImg{
                width: 90%;
            }
            .brandImg-1{
                margin: auto;
            }

            #sixth-section h2 {
                font-size: 34px;
                padding: 0px 0px 30px 0px;
            }
        
            .comment {
                padding: 30px;
            }
        
            .comments .top-section {
                padding-bottom: 18px;
            }
        
            .comment p {
                font-size: 16px;
            }
        
            #seventh-section h2 {
                font-size: 30px;
                padding-bottom: 40px;
            }
        
            .question {
                width: 80%;
                padding: 20px;
            }
        
            .question .heading h4 {
                font-size: 16px;
            }
        
            .question p {
                font-size: 12px;
                line-height: 20px;
            }
        
            #last-section {
                padding: 60px 0px;
            }
        
            .last-section-left h2 {
                font-size: 34px;
                padding-bottom: 50px;
            }
        
            .last-section-right .text {
                font-size: 11px;
            }
        
            .last-section-right .number {
                font-size: 14px;
                padding-bottom: 20px;
            }
        
            .main-footer {
                align-items: stretch;
                justify-content: space-around;
            }
        
            .footer-right {
                flex-direction: column;
            }
        
            .footer-navigation ul {
                margin-right: 0px;
            }
        
            .copyright {
                margin-top: 20px;
            }
        
            
        }   



            @media screen and (min-width:769px)and (max-width:1050px){
                #hero-section .image-section {
                    width: 45%;
                    min-height: 50vh;
                }
                .quote-align{
                    justify-content: space-between;
                }
                .text-section h1 {
                    font-size: 50px;
                }
                .brand-img{
                    width: 20%;
                }
                .brandImg{
                    width: 90%;
                }
            }